<ion-header>
  <ion-toolbar>
    <ion-title>
      {{movie?.title }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="favourites">
        ❤️
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--Overview-->
  <h2>Overview</h2>
  <p>{{ movie?.overview }}</p>

<!--Cast-->
<h2>Cast</h2>
<div *ngFor="let c of cast">
  {{ c.name }} as {{ c.character }}
</div>

<!--Cast-->
<h2>Crew</h2>
<div *ngFor="let c of crew "> <!--updated to lloop over the crew instead of cast-->
  {{c.name }} as {{ c.job}}
</div>
</ion-content>