<ion-header>
  <ion-toolbar>

    <!--Home Icon-->
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        🏠
      </ion-button>
    </ion-buttons>

      <!--Movie Title -->
    <ion-title>
      {{movie?.title }}
    </ion-title>
      <!--Favourites page button-->
    <ion-buttons slot="end">
      <ion-button routerLink="favourites">
        ❤️
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--Overview-->
  <h2>Overview</h2>
  <p>{{ movie?.overview }}</p>
  <!--tect changes depending on if movie is already saved -->
    <ion-button (click)="toggleFavourite()">
      {{ isFavourite ? 'Remove From Favourites' : 'Add To Favourites'}}
    </ion-button>

<!--Cast-->
<h2>Cast</h2>
<ion-item
  button="true"
  *ngFor="let c of cast"
  (click)="goToPerson(c.id)"
  >
<ion-label>
  {{ c.name }} as {{ c.character }}
</ion-label>
 
</ion-item>

<!--Cre-->
<h2>Crew</h2>
<div *ngFor="let c of crew "> <!--updated to lloop over the crew instead of cast-->
  {{c.name }} as {{ c.job}} <!-- shows crew member and role-->
</div>
</ion-content>