<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473369 <!--Student number added-->
    </ion-title>
 


      <!--Favourites Button added-->
      <ion-button slot ="end" (click) ="goToFavourites()">
             favourites 
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor= "let movie of movies" (click)="goToDetails(movie)">
      <ion-thumbnail slot="start">
        <img [src]="getImage(movie.poster_path)">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
 
</ion-content>