<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473369 <!--Student number added-->
    </ion-title>
 


      <!--Favourites Button added-->
      <ion-button slot ="end" (click) ="goToFavourites()">
        ❤️ 
      </ion-button>
    </ion-toolbar>
</ion-header>
<!--added button to the posters on the home page which will link to movie-details-->
<ion-content [fullscreen]="true">
  <!-- Search Bar-->
   <ion-item>
    <ion-input
      placeholder="Search movies..."
      (ionInput)="onSearch($event)">
    </ion-input>
   </ion-item>

  <ion-list>
    <!--movie list, loops through movies array-->
    <ion-item 
    button="true" 
    *ngFor= "let movie of movies" 
    (click)="goToDetails(movie)">

    <!--movie poster-->
      <ion-thumbnail slot="start">
        <img [src]="getImage(movie.poster_path)">
      </ion-thumbnail>

      <!--Info-->
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
      </ion-label>
      <!--add to favs button-->
      <ion-button slot="end" (click)="addToFavourites(movie); $event.stopPropagation()">
        ❤️
      </ion-button>
    </ion-item>
  </ion-list>
 
</ion-content>